In [1]:
s2="pwskills"

In [2]:
s2.find('l')

5

How can we store a s1ngle quote (â€˜) as a str1ng 1n a var1able?
To store a single quote character (') as a string in a variable, you can use double quotes ("") to enclose the single quote character

In [3]:
var ="'"

In [4]:
var

"'"

In [5]:
x='a'

In [6]:
type(x)

str

it is  stored in quotes

In [8]:
a ="Welcome to Python foundation course"

In [9]:
a.find('W')

0

In [10]:
a.count('a')

1

In [11]:
len(a)

35

In [12]:
concantenate(a)

NameError: name 'concantenate' is not defined

In [13]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [14]:
word='PanaJi@12256'

In [15]:


count = 0
for char in word:
    if char.islower():
        count += 1

print("The number of lowercase alphabets in the string is:", count)

The number of lowercase alphabets in the string is: 4

In [16]:
count = 0
for char in word:
    if char.isupper():
        count += 1

print("The number of uppercase alphabets in the string is:", count)

The number of uppercase alphabets in the string is: 2

In [17]:
count = 0
for char in word:
    if char.isdigit():
        count += 1

print("The number of numericals in the string is:", count)

The number of numericals in the string is: 5

In [ ]:
n = 42    # Store the numerical value 42 in the variable 'num'
num_str = str(num)  # Convert the numerical value to a string using the str() function